@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url("./fonts/Manrope-Bold.ttf"),
    format("truetype") url("./fonts/Manrope-Medium.ttf") format("truetype"),
    url("./fonts/Manrope-Regular.ttf") format("truetype");
}

:root {
  font-family: Manrope, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
